# Ignorer le dossier node_modules où sont stockées les dépendances
node_modules/

# Ignorer les fichiers de logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorer les fichiers de configuration d'environnement
.env
.env.local
.env.*.local

# Ignorer les fichiers de cache
.cache/
dist/
build/

# Ignorer les fichiers de lock si vous utilisez un autre gestionnaire de paquets
package-lock.json
yarn.lock
pnpm-lock.yaml

# Ignorer les fichiers de test coverage
coverage/

# Ignorer les fichiers générés par les éditeurs/IDE
.vscode/
.idea/
*.swp

# Ignorer les fichiers système
.DS_Store
Thumbs.db